.dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* semi-transparent black background */
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    /* background blur */
    z-index: 999;
}

.boxes {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;

}

.dialog-content {
    position: relative;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: slideUp 0.3s ease-out;
}

.dialog-content h2 {
    margin-bottom: 15px;
    color: #333;
}

.dialog-content p {
    margin-bottom: 25px;
    color: #555;
}

.dialog-content button {
    padding: 10px 20px;
    background: #ff8da1;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.dialog-content button:hover {
    background: #ff6480;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 20px;
    margin-left: 0;
    text-align: justify(flex-end);
    font-size: 34px;
    color: #0c0b0b;
    cursor: pointer;
    /* background-color: #0c0b0b; */
    transition: color 0.2s ease;
}

.close-btn:hover {
    color: #fa0606;
}

@keyframes slideUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}